body {
    background-color: #131313;
    font-family: 'Jost', sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    
}

.title {
    text-align: center;
    height: 50px;
    font-size: 32px;
    color: #ffffff;
    background-color: #2b2b2b;
    font-family: 'Gruppo', cursive;
    padding-top: 4px;
    font-weight: bold;
    text-shadow: -2px 2px 6px rgb(0 0 0 / 50%);
    
}


    

  
.container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    width: 100%; 
    
    
    
}

.container_cuadrado,
.container_triangulo,
.container_circulo {
    
    color: #86868b;
    width: 30%;
    
}

form { 
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 14px;
    font-family: 'Gruppo', cursive;
    color: #86868b;
    padding-top: 8px;
}

label {
    font-size: 14px;
    padding-bottom: -4px;
    padding-top: 8px;
}

section {
    background: rgba(0, 0, 0, 0.28);
    padding: 14px;
    border-radius: 8px;
    border: 2px solid #86868b;
    box-shadow: 0px 16px 51px -11px rgb(0 0 0 / 25%);
}



button {
    background-color: #2b2b2b;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    text-shadow: -2px 2px 6px rgb(0 0 0 / 50%);
}

input {
    border-radius: 4px;
    
}

.img_cuadrado,
.img_triangulo,
.img_circulo {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

img {
    width: 400px;
    height: 400px;
    
}


